[user]
  name = Almujeer Uddin
	email = 68914647+JamRuinedDuel@users.noreply.github.com
[alias]
  br = branch
  co = checkout
  ci = commit -m
  st = status -sbu
  history = log --pretty=format:'%C(cyan)%h%Creset :%C(yellow)%d%Creset %s %Cgreen(%cr) %C(magenta)<%an>%Creset' --abbrev-commit --date=relative
  h = history
	last = log -1
[push]
  autoSetupRemote = 
  autoSetupRemote = true
[init]
  defaultBranch = main
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = false
  syntax-theme = ansi
  dark = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
